[user]
	name = pcalderon
	email = pedro.calderon@edocsaude.com
[grep]
	extendRegexp = true
	lineNumber = true
[alias]
	aa = add -A
	st = status
	cm = commit -m
  ac = commit -a
  ca = commit --amend --no-edit
	br = branch
	df = diff --color --color-words --abbrev
	lg = log --oneline --decorate
	co = checkout
	cod = checkout development
	cob = checkout -b
	mg = merge --no-ff
  ss = status -sb
	;ft = fetch origin
	;fpo = fetch -p origin
	;fp = fetch -p
	;ls-rm = ls-remote --heads
	;cl = clean -fdx

	grep = grep --break --heading --line-number
	oneline = log --pretty=oneline
	logs = log --oneline --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	last = log -p -2
[core]
	excludesfile = /Users/pedro/.gitignore_global
	editor = /usr/local/bin/vim
[credential]
	helper = cache --timeout=72000
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/pedro/Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
