[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/.vim/bundle/autoclose"]
	path = vim/.vim/bundle/autoclose
	url = https://github.com/Townk/vim-autoclose
[submodule "vim/.vim/bundle/nerdcommenter"]
	path = vim/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim/.vim/pathogen"]
	path = vim/.vim/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/.vim/bundle/fugitive"]
	path = vim/.vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim/.vim/bundle/cvim"]
	path = vim/.vim/bundle/cvim
	url = https://github.com/HenningM/cvim-pathogen
